@font-face {
    font-family: 'still_time';
    src: url('../fonts/still-time-webfont.woff2') format('woff2'),
        url('../fonts/still-time-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*--------------------------------*/
/* color variables */
/*--------------------------------*/

:root {
    --main-color: rgb(175, 51, 123);
    /* primary color formerly prange*/
    --bright-color: rgb(250, 30, 184);
    /*secondary color formerly red*/
    --dark-color: rgb(107, 39, 128);
    /*tertiary color formerly dark orange*/
    --dark-alt-color: rgb(55, 39, 100);
    /*alternate tertiary color */
    --glow-color: rgb(210, 0, 116);
    --sidebar-color: rgba(210, 0, 116, 0.3);
    --pause-glow: rgb(5, 194, 219);
}

/*--------------------------------*/
/* shrink scene display */
/*--------------------------------*/

#scenes .scene h3 {
    line-height: 50px;
}

#scenes .scene {
    line-height: 50px;
    height: 50px;
}

/*--------------------------------*/
/* journal styling */
/*--------------------------------*/
.journal-sheet p {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 5px 0;

}

.journal-sheet .window-content {
    background: none;
    background-color: #ddd;
}

.journal-sheet .entity-link {
    background-color: #97c8d1;
    /* color: white; */

}

.journal-sheet table {
    background-color: rgba(117, 201, 173, 0.377);
}

/*--------------------------------*/
/* general styling */
/*--------------------------------*/

/* custom hotbar */

#custom-hotbar .macro:hover {
    box-shadow: 0 0 10px var(--main-color) inset !important;
}

a[href] {
    color: var(--main-color) !important;

}

a:hover {
    text-shadow: 0 0 8px var(--bright-color) !important;
}

/* ----------------------------------------- */
/* Scrollbar
  /* ----------------------------------------- */
::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: var(--dark-alt-color) !important;
    border: 1px solid var(--main-color) !important;
}

:root {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-alt-color) #111 !important;
}

/* ----------------------------------------- */
/*  Player Config UI
  /* ----------------------------------------- */
#player-config .directory-item.context {
    border-top: 1px solid var(--bright-color) !important;
    border-bottom: 1px solid var(--main-color) !important;
    box-shadow: 0 0 10px var(--main-color) !important;
}

/* ----------------------------------------- */
/*  Connected Players UI
  /* ----------------------------------------- */

#players ol .player.context {
    margin: -1px 0;
    border-top: 1px solid var(--main-color) !important;
    border-bottom: 1px solid var(--main-color) !important;
}

#players ol .player.context .player-name {
    text-shadow: 0 0 5px var(--bright-color) !important;
}

/* ---------------------------------------- */

/* Form Inputs                              */
/* ---------------------------------------- */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    box-shadow: 0 0 5px var(--bright-color) !important;
}

select:focus {
    box-shadow: 0 0 5px var(--bright-color) !important;
}

textarea:focus {
    box-shadow: 0 0 6px var(--bright-color) !important;
}

button:hover,
button:focus {
    box-shadow: 0 0 5px var(--bright-color) !important;
}

input[type=range]::-webkit-slider-thumb {
    background: var(--dark-color) !important;

}

input[type=range]::-moz-range-thumb {
    background: var(--dark-color) !important;

}

/* ----------------------------------------- */
/* Tabbed Containers
  /* ----------------------------------------- */
.tabs .item.active {
    text-shadow: 0 0 10px var(--bright-color) !important;
}

/* ----------------------------------------- */
/* File Picker
  /* ----------------------------------------- */
.filepicker .directory>li:hover {
    text-shadow: 0 0 5px var(--bright-color) !important;
}

.filepicker .tiles-list li.picked {
    box-shadow: 0 0 6px inset var(--main-color) !important;
}

.filepicker .display-modes a.active {
    text-shadow: 0 0 6px var(--main-color) !important;
}

/* ----------------------------------------- */
/* Tabbed Containers
  /* ----------------------------------------- */
.tabs .item.active {
    text-shadow: 0 0 10px var(--bright-color) !important;
}

/* ----------------------------------------- */
/* File Picker
  /* ----------------------------------------- */
.filepicker .directory>li:hover {
    text-shadow: 0 0 5px var(--bright-color) !important;
}

.filepicker .tiles-list li.picked {
    box-shadow: 0 0 6px inset var(--main-color) !important;
}

.filepicker .display-modes a.active {
    text-shadow: 0 0 6px var(--main-color) !important;
}

/* ---------------------------------------- */
/* Token HUD
  /* ---------------------------------------- */

#token-hud .status-effects .effect-control.overlay {
    border: 1px solid var(--main-color) !important;
}

/* ---------------------------------------- */
/* Chat Bubbles
  /* ---------------------------------------- */

#navigation #nav-toggle:hover {
    text-shadow: 0 0 10px var(--main-color) !important;
}

#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
    border: 1px solid var(--bright-color);
    border-bottom: 1px solid var(--main-color) !important;
    box-shadow: 0 0 10px var(--main-color) !important;
}

/* ----------------------------------------- */
/*  Main Menu
  /* ----------------------------------------- */

#menu #menu-items li:hover {
    text-shadow: 0 0 10px var(--main-color) !important;
}

/* ----------------------------------------- */
/*  Scene Controls
  /* ----------------------------------------- */
#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
    border: 1px solid var(--bright-color);
    border-bottom: 1px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}

#controls .control-tool:hover {
    border-bottom: 1px solid var(--main-color) !important;
    box-shadow: 0 0 10px var(--main-color) !important;
}

/* ---------------------------------------- */
/*  Hotbar                                  */
/* ---------------------------------------- */

#hotbar .macro:hover {
    box-shadow: 0 0 10px var(--main-color) inset !important;
    border: 1px solid var(--main-color) !important;
}

/* ---------------------------------------- */
/*  PRIMARY SIDEBAR                         */
/* ---------------------------------------- */

#sidebar-tabs {
    border-bottom: 1px solid var(--main-color) !important;
    box-shadow: 0 0 10px var(--bright-color) !important;
}

#sidebar-tabs>.item.active {
    border: 1px solid var(--bright-color) !important;
    box-shadow: 0 0 6px inset var(--main-color) !important;
}

.directory .directory-list .directory-item.folder .context {
    background-color: transparent !important;
    border-color: var(--main-color) !important;
}

.directory .directory-list .directory-item.context,
.directory .directory-list .directory-item.active {
    border-color: var(--main-color) !important;
}

#sidebar.collapsed #sidebar-tabs>.item.active {
    border-bottom: 1px solid var(--bright-color) !important;
}

/* ----------------------------------------- */
/*  Folders and Sub-folders
  /* ----------------------------------------- */

li.folder.droptarget>header h3 i {
    text-shadow: 0 0 4px var(--bright-color) !important;
}

/* ----------------------------------------- */
/*  1.0 - Chat Panel
  /* ----------------------------------------- */

.notification-pip {
    color: var(--main-color) !important;
}

/* ----------------------------------------- */
/*  3.0 - Scenes Directory
  /* ----------------------------------------- */

#scenes .scene.context,
#scenes .scene.active {
    box-shadow: 0 0 10px var(--main-color) !important;
}


.window-header {
    background-color: var(--header-color);
}


/*------------------------------------------------------------------------------------------------*/
/* dice tray module override*/
/*------------------------------------------------------------------------------------------------*/

.dice-tray button:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.dice-tray button:hover svg * {
    fill: var(--main-color);
}

.dice-tray button.dice-tray__math--sub:hover {
    background: var(--dark-alt-color);
    -webkit-box-shadow: 0 0 6px inset var(--main-color);
    box-shadow: 0 0 6px inset var(--main-color);
    color: white;
}

.dice-tray button.dice-tray__math--add:hover {
    background: var(--main-color);
    -webkit-box-shadow: 0 0 6px inset var(--main-color);
    box-shadow: 0 0 6px inset var(--main-color);
    border-color: var(--main-color);
}

.dice-tray button.dice-tray__roll:hover {
    background: var(--glow-color);

}

.dice-tray button.dice-tray__disadvantage:hover,
.dice-tray button.dice-tray__disadvantage.active {
    background: var(--main-color);
    -webkit-box-shadow: 0 0 6px inset var(--main-color);
    box-shadow: 0 0 6px inset var(--main-color);

}

.dice-tray button .dice-tray__flag {

    background-color: var(--main-color);

}

.dice-tray button .dice-tray__flag:hover,
.dice-tray button .dice-tray__flag:focus {
    background-color: var(--main-color);
}

.dice-tray input[type="text"]:hover,
.dice-tray input[type="text"]:focus {
    border: 1px solid var(--main-color);
    -webkit-box-shadow: 0 0 6px inset var(--main-color);
    box-shadow: 0 0 6px inset var(--main-color);
}


/* Recolor the sidebar */

#sidebar {
    background-color: var(--sidebar-color);
    /* background-image: url() !important; */
}

#pause.paused img {
    top: -50px;
    left: 46.5%;
    height: 200px;
    width: 200px;

    -webkit-animation: rotation 25s infinite linear;
    animation: rotation 25s infinite linear;
}


@keyframes glowing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }

    50% {
        background-color: #49e819;
        box-shadow: 0 0 30px #49e819;
    }

    100% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        /* text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa; */
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 13px #fff,
            0 0 16px var(--pause-glow),
            0 0 18px var(--pause-glow),
            0 0 20px var(--pause-glow),
            0 0 35px var(--pause-glow),
            0 0 40px var(--pause-glow);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px var(--pause-glow),
            0 0 80px var(--pause-glow),
            0 0 90px var(--pause-glow),
            0 0 100px var(--pause-glow),
            0 0 150px var(--pause-glow);
    }

    0% {
        /* Smaller blur radius */
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px var(--pause-glow),
            0 0 45px var(--pause-glow),
            0 0 55px var(--pause-glow),
            0 0 70px var(--pause-glow),
            0 0 80px var(--pause-glow);
    }
}

#pause {
    background: url('');
}

#pause.paused h3 {
    font-family: 'still_time';
    font-size: 6em;
    color: var(--main-color);
    animation: flicker 2.5s infinite alternate;



}